/* nav */
nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;
}
nav li {
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav li:hover {
    background-color: rgb(225, 25, 25);
}
nav li:hover a {
    color: rgb(234, 214, 149);
}

/* cikkek */
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    align-items: stretch;
    padding: 10px;
    overflow: hidden;
}
.cikk {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f3f3f3;
    padding: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}
.cikk:nth-child(3) {
    order: -1;
}

/* reszponzivitas */
@media (max-width: 800px) {
    nav ul {
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    nav li {
        margin: 5px;
    }
}
@media (max-width: 500px) {
    nav ul {
        grid-template-columns: 1fr;
    }
    article {
        grid-template-columns: 1fr;
    }
}
