/* nav */
nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;
}
nav li {
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav li:hover {
    background-color: rgb(225, 25, 25);
}
nav li:hover a {
    color: rgb(234, 214, 149);
}

/* cikkek */
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    direction: rtl;
}
.cikk {
    background-color: #f3f3f3;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    direction: ltr;
}
.cikk img {
    width: 100%;
    border-radius: 5px;
}

/* reszponzivitas */
@media screen and (max-width: 650px) {
    nav ul {
        grid-auto-flow: row;
    }
    article {
        grid-template-columns: 1fr;
    }
}


